<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>OnlineShop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SaveUser</display-name>
    <servlet-name>SaveUser</servlet-name>
    <servlet-class>SaveUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveUser</servlet-name>
    <url-pattern>/SaveUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCategories</display-name>
    <servlet-name>ShowCategories</servlet-name>
    <servlet-class>ShowCategories</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCategories</servlet-name>
    <url-pattern>/ShowCategories</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveProduct</display-name>
    <servlet-name>SaveProduct</servlet-name>
    <servlet-class>SaveProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveProduct</servlet-name>
    <url-pattern>/SaveProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerifyUser</display-name>
    <servlet-name>VerifyUser</servlet-name>
    <servlet-class>VerifyUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyUser</servlet-name>
    <url-pattern>/VerifyUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowItems</display-name>
    <servlet-name>ShowItems</servlet-name>
    <servlet-class>ShowItems</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowItems</servlet-name>
    <url-pattern>/ShowItems</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowDetails</display-name>
    <servlet-name>ShowDetails</servlet-name>
    <servlet-class>ShowDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDetails</servlet-name>
    <url-pattern>/ShowDetails</url-pattern>
  </servlet-mapping>
</web-app>